
# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 
# See README for more details.

NODE_ENV = development

# Get this from https://mlab.com/home after you've logged in and created a database
MONGODB_URI=mongodb+srv://XXXXXX:XXXXXX@cluster0-jcumw.mongodb.net/test?retryWrites=true&w=majority

# This is standard running mongodb locally
MONGODB_URI_LOCAL=mongodb://localhost:27017/gram

# Put lots of randomness in these
JWT_SECRET=ashdfjhasdlkjfhalksdjhflak

SLACK_TOKEN = xoxb-311875214820-XXXXXXXXXXXXXXX
SLACK_CLIENT_ID = 311XXXXXX.XXXXXXXXX
SLACK_CLIENT_SECRET = XXXXXXXXXXXXXXXXXXXXXXXX
SERVERURL = http://localhost:3000/
CLIENTURL = http://localhost:8080/

CLOUD_NAME = xxxx
CLOUD_API_KEY = xxxxxxxx
CLOUD_API_SECRET = xxxxxxxxxxxxxx